<!-- <div class="body"> -->
<div class="container body">
    <div class="navwarp row">
        <div class="navbar">
            <div class="navbar-header">
                <button class="navbar-toggle banner-responsive" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">网站首页</a></li>
                    <li><a href="__APP__/more?type=4&d=inform">评估动态</a></li>
                    <li><a href="__APP__/more?type=0&d=inform">公告通知</a></li>
                    <li><a href="__APP__/more?type=1&d=inform">政策文件</a></li>
                    <li><a href="__APP__/more?type=2&d=inform">专项评估</a></li>
                    <li><a href="__APP__/more?type=3&d=inform">教学礼拜</a></li>
                    <li><a href="__APP__/more?type=5&d=inform">教学督导</a></li>
                    <li><a href="__APP__/more?type=6&d=file">下载专区</a></li>
                    <li><a href="__APP__/more?type=7&d=file">他山之石</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="http://www.hnust.edu.cn/" title="湖南科技大学主页" target="_blank">科大主页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
