<div class="inner">
    <div class="left-inner">
        <a href="{{link}}" title="{{title}}"><img src="{{imgurl}}"></a>
    </div>
    <div class="right-inner">
        <h3 class="news-title show-oneline"><a href="{{link}}" title="{{title}}">{{title}}</a></h3>
        <div class="news-content">
            <p class="content">
                {{content}}
            </p>
        </div>
        <span class="news-time">{{time}}</span>
        <span class="news-detail"><a href="{{link}}">详细>></a></span>
    </div>
</div>
