
<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>湖南科技大学教学评估网</title>
 <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="css/main.css">
 <link rel="stylesheet" type="text/css" href="css/main_page.css">
 <link rel="stylesheet" type="text/css" href="css/public_list.css">
 <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<!-- <?php
 $severname="localhost";
 $username="root";
 $password="";
 $dbname="test";
 $con=new mysqli($severname,$username,$password,$dbname);
 $program_char = "utf8" ;
 mysqli_set_charset( $con , $program_char );
?> -->
    <!-- 放置学校的logo,搜索框 -->
   <div class="head">
   		<div class="head_img">
           <a class="bg">
              <img src="./img/bg_header.jpg" alt="暂无图片" title="湖南科技大学" width="100%" height="160">
           </a>
           <a class="logo">
              <img src="./img/logo.jpg" alt="暂无图片" title="湖南科技大学">
           </a>
   		</div>
   		<div class="searchFrame">
   		    <form class="form">
   		        <div class="form-group">
   		            <input type="text" name="关键字" class="form-control searchText">
   		            <button type="botton" class="btn btn-primary"><img src="./img/search_bg.jpg" title="搜索" width="25" height="23">搜索</button>
   		        </div>
   		    </form>
   		</div>
   </div>
  <div class="body">
       <div class="navwarp">
           <div class="container">
		       <div class="navbar">
	                <ul class="nav navbar-nav nav-pills">
	                  <li><a href="javascript:void(0)">网站首页</a></li>
	                  <li><a href="javascript:void(0)">评估动态</a></li>
	                  <li><a href="javascript:void(0)">政策文件</a></li>
	                  <li><a href="javascript:void(0)">教学评估</a></li>
	                  <li><a href="javascript:void(0)">师资队伍</a></li>
	                  <li><a href="javascript:void(0)">质量监控</a></li>
	                  <li><a href="javascript:void(0)">下载专区</a></li>
	                  <li><a href="javascript:void(0)">他山之石</a></li>
	                </ul>
			   </div>
		   </div>
	   </div>
	   <div class="container">
	           <!-- 导航栏设置 -->
	       <div class="row"> 
	       		        <div class="col-md-7 col-sm-7 col-xs-7 slider">
	       		         	<div class="warp">
	       		         		<span class="to-left">&gt</span>
		       		            <span class="to-right">&lt</span>
		       		        	<div class="main-s clearfix">
		       		        	    <div class="inner"><img src="img/1.jpg"></div>
		       		        	    <div class="inner"><img src="img/2.jpg"></div>
		       		        	    <div class="inner"><img src="img/3.jpg"></div>
		       		        	    <div class="inner"><img src="img/4.jpg"></div>
		       		        	    <div class="inner"><img src="img/5.jpg"></div>
		       		        	</div>
		       		        	<div class="ctrl">
		       		        	     <a><img src="img/1.jpg"></a>
		       		        	     <a><img src="img/2.jpg"></a>
		       		        	     <a><img src="img/3.jpg"></a>
		       		        	     <a><img src="img/4.jpg"></a>
		       		        	     <a><img src="img/5.jpg"></a>
		       		        	</div>
		       		        	<div class="newsinfo">
		       		        	     <span class="content"></span>
		       		        	</div>
	       		         	</div>
	       		    	</div>
	       		    	<div class="col-md-5 col-sm-5 col-xs-5">
	       		    	   <!-- 公告通知 -->
	       		    		<div class="informhead">
	       		    		   <div class="inform-l">
	       		    		       <span><img src="./img/work_bg.jpg" width="25" height="25">工作动态</span>
	       		    		   </div>
	       		    		   <div class="inform-r">
	                                <a href="./new_show.html" target="_blank">更多</a>
	       		    		   </div>
	       		    		</div>
	       		    		<div>
		       		    		<ul class="list-group">
		       		    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="new_show.html">消息一消息一消息一消息一消息一消息一00000000000000000000000000000000</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
		    	</ul>
		       		    		</ul>
		       		        </div>		
	       		    	</div>
	       </div>
	       <div class="row">
			    <div class="col-md-3 col-sm-3 col-xs-3">
				                <div class="informhead">
				       		    		   <div class="inform-l">
				       		    		       <span><img src="./img/message_bg.jpg" width="25" height="25">公告通知</span>
				       		    		   </div>
				       		    		   <div class="inform-r">
				                                <a href="./new_show.html" target="_blank">更多</a>
				       		    		   </div>
				       		    </div>
				       		    <div>
				       		       <ul class="list-group">
				       		    		 <li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="new_show.html">消息一消息一消息一消息一消息一消息一00000000000000000000000000000000</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
		    	</ul>
				       		    	</ul>
				       		    </div> 	
			    </div>
   				<div class="col-md-6 col-sm-6 col-xs-6 cancle_pading">
	       				    <div class="informhead">
		       		    		   <div class="inform-l">
		       		    		       <span><img src="./img/e_bg.jpg" width="25" height="25">教学评估</span>
		       		    		   </div>
		       		    		   <div class="inform-r">
		                                <a href="./new_show.html" target="_blank">更多</a>
		       		    		   </div>
		       		        </div>
	       					<div>
			       		       <ul class="list-group">
			       		    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="new_show.html">消息一消息一消息一消息一消息一消息一00000000000000000000000000000000</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
		    	</ul>
			       		    	</ul>
		       		        </div> 	
   				</div>
   				<div class="col-md-3 col-sm-3 col-xs-3 cancle_pading">
	       				    <div class="informhead">
		       		    		   <div class="inform-l">
		       		    		       <span><img src="./img/file_bg.jpg" width="25" height="25">政策文件</span>
		       		    		   </div>
		       		    		   <div class="inform-r">
		                                <a href="./policy_film.html" target="_blank">更多</a>
		       		    		   </div>
		       		        </div>
	       					<div>
			       		       <ul class="list-group">
			       		    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="new_show.html">消息一消息一消息一消息一消息一消息一00000000000000000000000000000000</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
		    	</ul>
			       		    	</ul>
		       		        </div> 	
   				</div>
   				<div class="col-md-3 col-sm-3 col-xs-3 ">
	       				    <div class="informhead">
		       		    		   <div class="inform-l">
		       		    		       <span><img src="./img/q_bg.jpg" width="25" height="25">质量监控</span>
		       		    		   </div>
		       		    		   <div class="inform-r">
		                                <a href="./new_show.html" target="_blank">更多</a>
		       		    		   </div>
		       		        </div>
	       					<div>
			       		       <ul class="list-group">
			       		    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="new_show.html">消息一消息一消息一消息一消息一消息一00000000000000000000000000000000</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
		    	</ul>
			       		    	</ul>
		       		        </div> 	
   				</div>
   				<div class="col-md-3 col-sm-3 col-xs-3 cancle_pading">
	       				    <div class="informhead">
		       		    		   <div class="inform-l">
		       		    		       <span><img src="./img/teacher_bg.jpg" width="25" height="25">师资队伍</span>
		       		    		   </div>
		       		    		   <div class="inform-r">
		                                <a href="./new_show.html" target="_blank">更多</a>
		       		    		   </div>
		       		        </div>
	       					<div>
			       		       <ul class="list-group">
			       		    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="new_show.html">消息一消息一消息一消息一消息一消息一00000000000000000000000000000000</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
		    	</ul>
			       		    	</ul>
		       		        </div> 	
   				</div>
   				<div class="col-md-3 col-sm-3 col-xs-3 cancle_pading">
	       				    <div class="informhead">
		       		    		   <div class="inform-l">
		       		    		       <span><img src="./img/download_bg.jpg" width="25" height="25">下载专区</span>
		       		    		   </div>
		       		    		   <div class="inform-r">
		                                <a href="./load_section.html" target="_blank">更多</a>
		       		    		   </div>
		       		        </div>
	       					<div>
			       		       <ul class="list-group">
			       		    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="new_show.html">消息一消息一消息一消息一消息一消息一00000000000000000000000000000000</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
	    			<li class="list-group-item"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><a href="#">消息一消息一消息一消息一消息一消息一</a><span class="timer pull-right">2017-02-12</span></li>
		    	</ul>
			       		    	</ul>
		       		        </div> 	
   				</div>
   				<div class="col-md-3 col-sm-3 col-xs-3 cancle_pading">
	                        <div class="informhead">
			                    <div class="inform-l">
			       		       <span><img src="./img/link_bg.jpg" width="25" height="25">相关链接</span>
			       		        </div>
				       		    <div class="inform-r">
				                  <a href="#">更多</a>
				       		    </div>	    		  
		       		        </div>
		       		        <ul class="list-group">
		       		        	<li class="list-group-item"><a href="#"><img src="./img/jwcb.gif" title="" alt=""></a></li>
		       		        	<li class="list-group-item"><a href="#"><img src="./img/jwcx.gif" title="" alt=""></a></li>
		       		        </ul>
   			    </div>
	       </div>
	   </div>
  </div>	        
<div class="footer clearfix">
	<div class="footer-center">
		  湖南科技大学大学版权所有©1996,2000,2010年
		  <br>
		  邮箱：xcb@hnust.edu.cn 网址：www.hnust.edu.cn 地址：湖南·湘潭市桃园路(411201) 电话：0731-58290011 
		  <br>
		  招生：0731-58273804(05、08)
	</div>
</div>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
      var Bind = function(object, fun) {
  var args = Array.prototype.slice.call(arguments).slice(2);
  return function() {
    return fun.apply(object, args.concat(Array.prototype.slice.call(arguments)));
  }
}
   	  function Banner(){
          this.innergroup=$('.inner');
          this.length=this.innergroup.length;
          this._index=0;
          this.pre=(this._index-1+this.length)%this.length;
          this.left=0;
          this.opacity=1;
          this.dir=1;
          this.timer=null;
          this.Option();
          this.isAuto=true;
   	  }
   	  Banner.prototype={
   	  	  Option:function(){
   	  	  	$('.ctrl>a').each(function(i){
   	  	  		$(this).click(function(){
   	  	  			clearInterval(ban.timer);
   	  	  			// this.isAuto=false;
   	  	  			if(i==ban.pre)
   	  	  				return;
   	  	  			ban.pre=(ban._index-1+ban.length)%ban.length;
   	  	  			ban._index=i;
   	  	  			console.log(ban.pre);
   	  	  			console.log(i);
   	  	  			ban.dir=i>ban.pre?1:-1;
   	  	  			ban.Go();
   	  	  			ban.dir=1;
   	  	  		});
   	  	  	});
   	  	  	$('.to-left').click(function(){
                  clearInterval(ban.timer);
                  ban.Go();
   	  	  	});
   	  	  	$('.to-right').click(function(){
   	  	  		 clearInterval(ban.timer);
                 ban.dir=-1;
                 ban.Go();
                 ban.dir=1;
   	  	  	});
   	  	  	$('.inner').hover(function(){
   	  	  		clearInterval(ban.timer);
   	  	  		$('.to-left,.to-right').show();
   	  	  		console.log('in');
   	  	  	},function(){
   	  	  		$('.to-left,.to-right').hide();
   	  	  		ban.timer=setInterval(Bind(ban,ban.Show),4000);
   	  	  		console.log('out');
   	  	  	});
   	  	  },
   	  	  Show:function(){
   	  	  	  this.Move();
              this._index=(this._index+1)%this.length;
              this.pre=(this._index-1+this.length)%this.length;  
          },
          Go:function(){
          	   this.Show();
               this.timer=setInterval(Bind(this,this.Show),4000);
          },
          Move:function(){
          	    $('.inner').eq(this._index).css('left',100*this.dir+'%');
   	  	  	  	$('.inner').eq(this.pre).animate({
              	left:-100*this.dir+'%'
              },225);
                 $('.inner').eq(this._index).animate({
              	 left:this.left+'px'
              },200);
          }
          
   	  };
   	  ban=new Banner();
   	  ban.Go();
 </script>
 
</body>
</html>