<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title> - 主页示例</title>
    <link rel="shortcut icon" href="favicon.ico">
    <import type="css" file="/css/bootstrap#min?v=3.3.6" />
    <import type="css" file="/css/font-awesome#min" />
    <import type="css" file="/css/animate" />
    <import type="css" file="/css/style?v=4.1.0" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="container">

            </div>
        </div>
    </div>
    <import type="js" file="js/jquery#min?v=2.1.4" />
    <import type="js" file="js/bootstrap#min?v=3.3.6" />
    <import type="js" file="js/plugins/layer/layer#min" />
</body>

</html>
