* {
    margin: 0;
    padding: 0;
}


/*整个body样式*/

body {
    width: 100%;
    /*min-width: 970px;*/
    font-family: '微软雅黑', "Arial", "STHeiti";
    position: relative;
    overflow-x: hidden;
}
.navwarp .nav>li>a {
    color: #fff;
    font-size: 14px;
    padding: 10px 4px;
}
@media (min-width: 992px) {
    .navwarp .nav>li+li {
        margin-left: 12px;
    }
    .show-item .list-group-item a {
        max-width: 75%;
    }
    .friendlink li>a {
        padding: 8px 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
    .navwarp .nav>li+li {
        margin-left: 25px;
    }
    .show-item .list-group-item a {
        max-width: 82%;
    }
    .navwarp .nav>li>a {
        color: #fff;
        font-size: 16px;
        padding: 10px;
    }
}

.no-data {
    padding: 10px 15px;
    text-align: center;
    line-height: 1.14;
    font-size: 16px;
    vertical-align: middle;
}

.head {
    position: absolute;
    top: 5px;
    left: 50px;
    overflow: hidden;
    /*width: 970px;*/
    /*margin-left:-485px;*/
    /*background-color: #fff;*/
    /*height:192px;*/
}
.hwrap {
    /*background-image: url(../img/3hnust.png);*/
/*    background-repeat: no-repeat;
    background-size:100% 100%;*/
    height: 300px;
    width: 1190px;
    z-index: -1;
}

.bg-shadow {
    /*background: url(../img/bg-shade.png) repeat-x;*/
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
}


/*
  导航栏的总体设置
*/


/*给导航栏加背景*/

.body {
    opacity: .9;
    background: -webkit-linear-gradient(top, #1a49ab, #0c87f2, #00a9ff);
    background: -moz-linear-gradient(top, #1a49ab, #0c87f2, #00a9ff);
    background: -ms-linear-gradient(top, #1a49ab, #0c87f2, #00a9ff);
    background: -o-linear-gradient(top, #1a49ab, #0c87f2, #00a9ff);
    background: linear-gradient(top, #1a49ab, #0c87f2, #00a9ff);
}


/*给导航栏设置最小高度*/

.navwarp .navbar {
    margin-bottom: 1px;
    min-height: 40px;
}

.navwarp .navbar-nav {
    float: left;
    margin: 0;
}

.navwarp .nav>li>a:hover {
    color: #2889dd;
    background: #f3b620;
    border-radius: 3px;
}

.navwarp .nav>li>a:focus {
    background-color: #4CAF50;
}



.navwarp .nav>li {
    /*float: left;*/
}


/*给面板设置最小高度*/

.panel {
    min-height: 745px;
}


/*显示位置*/

.location {
    width: 100%;
    line-height: 40px;
    margin: 0;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 30px;
}

.location li.active a {
    background-color: #59aaef;
}


/*新闻列表的样式*/

.list-style {
    min-height: 400px;
    margin-bottom: 0;
    border-radius: 5px;
}

.location a,
.list-style a {
    color: #000;
    text-decoration: none;
}

.list-style .list-group-item a {
    display: inline-block;
    max-width: 60%;
    line-height: 100%;
    text-decoration: none;
    color: #666;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.list-style .list-group-item .timer {
    font-size: 14px;
    /*color: #f4981d;*/
    color: #9FA3A6;
}

.list-style .list-group-item {
    border: none;
    background: none;
    /*padding: 8px 12px;*/
}

.list-style .list-group-item:hover a,
.list-style .list-group-item:hover span {
    /*color: rgb(135, 199, 240);*/
    color: #f4981d;
}

.list-style .list-group-item .glyphicon {
    /*color: #1e9ce1;*/
    color: rgb(135, 199, 240);
    margin-right: 2px;
}


/*展示具体新闻时的样式设置*/

.newsinfo {
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 36px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(2, 10, 16, .3);
    padding: 5px;
}

.newsinfo .content {
    color: #fff;
    font-size: 14px;
    text-align: center;
}


/*底部设置*/

.login a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.login a:hover {
    color: red;
}

.footer {
    width: 100%;
    padding: 20px 30px;
    /*background-color: #EBEBEB;*/
    /* background-color: #0b87e0;*/
    background: -webkit-linear-gradient(left, #1a49ab, #0c87f2, #1a49ab);
    background: -moz-linear-gradient(left, #1a49ab, #0c87f2, #1a49ab);
    background: -ms-linear-gradient(left, #1a49ab, #0c87f2, #1a49ab);
    background: -o-linear-gradient(left, #1a49ab, #0c87f2, #1a49ab);
    background: linear-gradient(left, #1a49ab, #0c87f2, #1a49ab);
    color: #fff;
}

.footer-center {
    height: 60px;
    /*color: #666;*/
    text-align: center;
}
