<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--360浏览器优先以webkit内核解析-->


    <title> - 主页示例</title>

    <link rel="shortcut icon" href="favicon.ico">
    <import type="css" file="/css/bootstrap#min?v=3.3.6"/>
    <import type="css" file="/css/font-awesome#min"/>
    <import type="css" file="/css/animate" />
    <import type="css" file="/css/style?v=4.1.0" />

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
                <div class="container">
             <div class="navwarp row">
               <div class="navbar">
                    <ul class="nav navbar-nav">
                      <li><a href="__ROOT__">网站首页</a></li>
                      <li><a href="javascript:void(0)">评估动态</a></li>
                      <li><a href="javascript:void(0)">政策文件</a></li>
                      <li><a href="javascript:void(0)">专项评估</a></li>
                      <li><a href="javascript:void(0)">教学礼拜</a></li>
                      <li><a href="javascript:void(0)">教学督导</a></li>
                      <li><a href="javascript:void(0)">下载专区</a></li>
                      <li><a href="javascript:void(0)">他山之石</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                         <li><a href="http://www.hnust.edu.cn/" title="湖南科技大学主页" target="_blank">科大主页</a></li>
                    </ul>
               </div>
           </div>
       </div>
        </div>
    </div>
    <import type="js" file="js/jquery#min?v=2.1.4" />
    <import type="js" file="js/bootstrap#min?v=3.3.6" />
    <import type="js" file="js/plugins/layer/layer#min" />
</body>

</html>
