<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>后台管理主页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <import type="css" file="css/bootstrap#min?v=3.3.6" />
    <import type="css" file="css/font-awesome#min" />
    <import type="css" file="css/animate" />
    <import type="css" file="css/style?v=4.1.0" />
    <style type="text/css">
    body {
        min-width: 1170px;
        overflow: scroll !important;
    }
    </style>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">后台管理</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">后台管理
                        </div>
                    </li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li>
                        <a class="J_menuItem" href="__APP__/admin?target=index_v1">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">上传管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="__APP__/admin?target=editorNews">编辑通知</a></li>
                            <li><a class="J_menuItem" href="__APP__/admin?target=inform_notice">通知管理</a></li>
                        </ul>
                    </li>
                    <if condition="$nickname['authority'] eq 0">
                        <li class="line dk"></li>
                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span class="ng-scope"></span>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">注册</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a class="J_menuItem" href="__APP__/admin?target=regedit">注册</a></li>
                            </ul>
                        </li>
                    </if>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1" style="min-width: 1170px;">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-info" href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <div class="dropdown pull-right" style="height: 100%;padding: 7px;">
                        <button class="dropdown-toggle btn btn-default" id="show">
                            <span class="glyphicon glyphicon-user"></span> {$nickname['nickname']}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="J_menuItem" href="__APP__/admin?target=updatepsw" alt="修改密码">修改密码</a></li>
                            <li><a href="__APP__/logout" alt="退出登录">退出登录</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe id="J_iframe" width="100%" height="100%" src="__APP__/admin?target=index_v1" frameborder="0" data-id="_adminTPL_/index_v1.html" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <!-- 全局js -->
    <import type="js" file="js/jquery#min?v=2.1.4" />
    <import type="js" file="js/bootstrap#min?v=3.3.6" />
    <import type="js" file="js/plugins/metisMenu/jquery#metisMenu" />
    <import type="js" file="js/plugins/slimscroll/jquery#slimscroll#min" />
    <import type="js" file="js/plugins/layer/layer#min" />
    <import type="js" file="js/hAdmin?v=4.1.0" />
    <import type="js" file="js/index" />
    <script type="text/javascript">
    $('#show').click(function(e) {
        e.stopPropagation();
        $('.dropdown').toggleClass('open');
    });
    // $('body').click(function(){
    //  $('.dropdown').toggleClass('open');
    // });
    </script>
</body>

</html>
